*{
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;

}

.cabeçalho {
    color:rgb(213, 211, 216);
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383D58;
    font-size: 15px;
    padding: 25px 0;    
     
}

.cabeçalho-imagem {
    width:15%;
    border-radius: 10px;

}

.cabeçalho-item1 {
    display: inline-block;
    justify-content: space-around;
    margin:0 16px;
    font-size: 24px;
}


.turma { 
    background-image:linear-gradient(#383D58, #4EBFE9);
    color:aliceblue;
    font-size: 21px;
    display:flex;
    justify-content: center;
    padding: 24px;

}

.turma-título {
    padding: 30px;
        
}

.turma-texto {

}

.turma-imagem-alunos {
    width:20%;
    height:20%;
    padding: 20px
    ;
    border-radius: 50px;
}

.estudante {
    background-image: linear-gradient(#4EBFE9, #383D58);
    text-align: center;
    
}

.estudante-titulo {
    color:aliceblue;
}

.estudante-foto {
    width:120px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 25px 0;
}

.estudante-todos {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%

}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}